.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  padding: 2rem 0;
}

.mainVideoContainer {
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
}

.mainVideoPlayer {
  width: 99%;
  height: auto;
  display: block;
  background-color: #000;
  border: 0;
}
.mainVideoPlayer::-webkit-media-controls-enclosure {
    display: none !important;
}

.header {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.subtitle {
  text-decoration: underline solid 1.3px;
  font-size: 1.5rem;
  color: #000000;
}

.owner {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 0.5rem;
  color: #000000;
}

.tags {
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  border: 1px solid #000;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
  cursor: default;
}

.content {
  line-height: 1.8;
}

.textBlock {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.divider {
  width: 40px;              
  height: 1.5px;              
  background-color: #000000;
  margin: 18px 0;           
  opacity: 0.6;             
}

.gallery {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
  display: inline-grid;
}

.gallery_grid-1 {
  grid-template-columns: 1fr;
}
.gallery_grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.gallery_grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.gallery_grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.mediaItem img {
  width: 100%; 
  height: auto;
  background-color: #f9f9f9;
  border: 1px solid #00000093;
}

.caption {
  font-size: 0.9rem;
  color: #888;
  text-align: center;
  margin-top: 0.5rem;
}